*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding-top: 90px;
}

.container{
  max-width: 1440px;
  margin: 0 auto;
}

li{
  list-style: none;
}

a{
  text-decoration: none !important;
}


.page-not-found{
  height: 100vh - 30vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}