.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .btn{
        color: white;
        padding: 5px 10px;
    }
    .view{
        background-color: #663399;
    }
    .edit{
        background-color: green;
    }
    .delete{
        background-color: red;
    }
}

table{
    tr{

        text-align: center;
        font-size: 25px;
    }
    tbody{
        tr{
            
            font-size: 20px;
        }

    }
}